{#Base HTML doc with Navbar#}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveller</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/home/" style="font-size: 28px; font-weight: 500; font-family: 'Quicksand', sans-serif;">Traveller</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="mx-auto position-absolute search-bar-container">
                <form action="{% url 'search' %}" method="GET" class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search" name="q"
                        id="example-search-input">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/livestreams/">L</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/maps/"><i class="fa fa-map"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chats/"><i class="fa fa-comment"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications/"><i class="fa fa-bell"></i></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link-pfp" href="/dashboard/"><img class="user-pfp" src="{% if profile_picture_url %}{{ profile_picture_url }}{% else %}https://picsum.photos/50/50{% endif %}" alt="Profile Picture"></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block start %}
    {% endblock %}
    <!-- <script src="home/static/script.js"></script> -->
</body>

</html>