{% extends 'base.html' %}
{% load static %}

{% block start %}
    <div class="container mt-4">
        <h2>Register</h2>
        <form method="post" action="{% url 'home:user_register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

    <script>
        {% if messages %}
            var message = "{{ messages }}";
            alert(message);  // Display message as an alert
            {% for message in messages %}
                alert("{{ message }}");  // Iterate through messages if there are multiple
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
