/*NAVBAR*/
.navbar-nav {
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.input-group {
    width: 300px;
}

.nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-item a {
    padding-right: 20px;
}

.search-bar-container {
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .input-group {
        width: 100%;
    }
}

/*POSTS*/
        .custom-padding {
            padding-bottom: 200px; /* Adjust the value as needed */
        }
        .custom-card {
            width: 20vw; /* Set a fixed width for the card */
            height: 20vw; /* Set a fixed height for the card */
            margin: auto;
        }

        .custom-img {
            width: 50%;
            height: 50%;
            object-fit: cover; /* Ensures the image covers the entire area */
        }

        .post-header h4 {
            font-size: 1.2rem;
            margin: 0;
        }

        .card-body {
            padding: 10px 15px;
        }

        .card-title {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 0.9rem;
        }

        .post-footer i {
            font-size: 1.2rem;
            cursor: pointer;
        }

        .post-footer .fa-ellipsis-v {
            float: right;
        }