/*NAVBAR*/
.navbar-nav {
    align-items: center;
    margin-bottom: 10px;
}

.input-group {
    width: 20vw;
}

.nav-item {
    margin-left: 10px;
}

.search-bar-container {
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .input-group {
        width: 20%;
    }
}

/*POSTS*/

    .custom-img-container{
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align items horizontally */

    }
        .custom-img {
            width: 96%;
            height: 96%;
            object-fit: cover; /* Ensures the image covers the entire area */
        }

        .post-header h4 {
            font-size: 1.2rem;
            margin: 0;
        }

        .card-body {
            padding: 10px 10px;
        }

        .card-title {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 0.9rem;
        }

        .post-footer i {
            font-size: 1.2rem;
            cursor: pointer;
        }

        .post-footer .fa-ellipsis-v {
            float: right;
        }
/* DASHBOARD */
.profile-card {
            width: 60%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .profile-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
        }
        .profile-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .profile-info {
            flex: 1;
            margin-left: 20px;
        }
        .profile-info h2 {
            margin: 0;
        }
        .profile-stats {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }
        .profile-stats div {
            text-align: center;
        }
        .profile-bio {
            margin-top: 10px;
        }
        .follow-button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #3897f0;
            color: #fff;
            text-align: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .gallery img {
            width: 30%;
            margin: 1.5%;
            border-radius: 5px;
        }
/* MAPS */
        #mapid { height: 100vh; } /* Adjust height as needed */
