/* static/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #070707;
    /* Set body text color */
}

body {
    background-color: #050A30;
    /* Set body background color */
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/*NAVBAR*/
header,
.navbar,
.navbar-nav,
.navbar-brand,
.navbar-toggler,
.navbar-collapse {
    background-color: #2B315B !important;
    /* Apply background color to navbar */
    font-family: 'Quicksand', sans-serif !important;
    /* Apply Quicksand font to navbar */
    color: #FFBD59 !important;
    /* Apply text color to navbar */
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar-toggler-icon {
    color: #FFBD59 !important;
    /* Apply text color to navbar links and brand */
}

/* static/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #060505;
    /* Set body text color */
}

body {
    background-color: #050A30;
    /* Set body background color */
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/*NAVBAR*/
header,
.navbar,
.navbar-nav,
.navbar-brand,
.navbar-toggler,
.navbar-collapse {
    background-color: #2B315B !important;
    /* Apply background color to navbar */
    font-family: 'Quicksand', sans-serif !important;
    /* Apply Quicksand font to navbar */
    color: #FFBD59 !important;
    /* Apply text color to navbar */
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar-toggler-icon {
    background-color: #2B315B !important;
    /* Apply background color to navbar */
    font-family: 'Quicksand', sans-serif !important;
    /* Apply Quicksand font to navbar */
    color: #FFBD59 !important;
    /* Apply text color to navbar links and brand */
}

.navbar-nav {
    align-items: center;
    margin-bottom: 10px;
}

.input-group {
    width: 20vw;
}

.nav-item {
    margin-left: 10px;
}

.nav-link-pfp {
    margin: 0;
}

.search-bar-container {
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .input-group {
        width: 20%;
    }
}

.article-title {
    color: black
}

/*POSTS*/

.custom-card {
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

.custom-img-container {
    width: 100%;
    height: 300px;
    /* Fixed height for the container */
    position: relative;
    overflow: hidden;
    /* Hide overflow to crop the image if needed */
}

.custom-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    /* Adjust the image to fit within the container */
}

.custom-side-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}


.post-header h4 {
    font-size: 1.2rem;
    margin: 0;
}


.card-body {
    padding: 10px 10px;
}



.card-title {
    font-size: 1rem;
    margin-bottom: 10px;
}


.card-text {
    font-size: 0.9rem;
}

.post-footer i {
    font-size: 1.2rem;
    cursor: pointer;
}


.post-footer .fa-ellipsis-v {
    float: right;
}



/* DASHBOARD */

.user-pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


.profile-card {
    width: 60%;
    margin: 50px 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(243, 241, 241, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px;
    padding:0px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
    margin-left: 50px;
    color: #ffffff;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: baseline;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.profile-bio {
    margin-top: 50px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery img {
    width: 30%;
    margin: 1.5%;
    border-radius: 5px;
}


/* Style for the like icon */
.like-icon {
    cursor: pointer;
    /* Change cursor to pointer */
    font-size: 1.5rem;
    /* Adjust the size as needed */
    transition: color 0.3s;
    /* Smooth transition for color change */
}


/* Color when the heart icon is liked */
.like-icon.fas {
    color: red;
    /* Color when liked */
}

/* MAPS */
#mapid {
    height: 100vh;
}

/* Adjust height as needed */

/* Login card styles */
.body.login-page {
    background: url('/static/images/loginlogo1.png') center top/cover fixed no-repeat;
    height: 100vh;
    /* Adjusted viewport height */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    /* Increase background size slightly */
    background-position: center left;
    /* Move background slightly to the left */
}

/* Login card styles */
.login-card {
    max-width: 500px;
    height: 450px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
    margin-left: 255px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    /* Added transition for smooth hover effect */
}

.login-card:hover {
    transform: scale(1.05);
    /* Scale up slightly on hover */
}

@keyframes breatheOnce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


.login-card .card-title,
.login-card .form-group,
.login-card .btn-primary,
.login-card p {
    color: white;
    font-weight: 300;
}

.login-card .card-body {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card .form-control {
    height: 35px;
    /* Adjusted height of form controls */
    font-size: 1.2rem;
    /* Increased font size */
    width: 350px;
    /* Full width input fields */
    background-color: #050A30;
    color: #FFBD59;
}

.login-card .card-title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 0px;
}

.login-card .form-group {
    margin-bottom: 20px;
    width: 100%;
}

.login-card .btn-primary {
    background: linear-gradient(135deg, #004c4c, #008080);
    border: none;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    display: block;
    width: 100%;
    /* Make the button take full width */
    max-width: 200px;
    /* Set a max width for the button */
    margin: 0 auto;
    /* Center the button horizontally */
}

.login-card p {
    text-align: center;
    margin-top: 15px;
}

.register-link {
    color: #FFF2DE;
    /* Set text color to white */
    font-size: 1.1rem;
    /* Increase font size as needed */
    text-decoration: none;
    /* Remove underline from link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.register-link:hover {
    color: #FFBD59;
    /* Change text color on hover */
}

/* Register page styles */
.body.register-page {
    background: url('/static/images/registerlogo1.png') center top/cover fixed no-repeat;
    height: 100vh;
    /* Adjusted viewport height */
    margin: 0;
    display: flex;
    justify-content: flex-end;
    /* Align content to the right */
    align-items: center;
    background-size: cover;
    /* Adjust background size */
    background-position: center left;
    /* Move background slightly to the left */
}

.register-card {
    max-width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 5px 220px 40px;
    transition: transform 0.3s ease;
}

.register-card:hover {
    transform: scale(1.05);
}

.register-card .card-title,
.register-card .form-group,
.register-card .btn-primary,
.register-card p {
    color: white;
    font-weight: 300;
    text-align: center;
}

.register-card .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-card .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align labels and inputs to the start */
    margin-bottom: 15px;
}

.register-card .form-group label {
    margin-bottom: 5px;
    /* Add space between label and input */
    width: 100%;
    /* Ensure the label takes the full width */
}

.register-card .form-control {
    height: 35px;
    /* Adjusted height of form controls */
    font-size: 1.2rem;
    /* Increased font size */
    width: 325px;
    /* Full width input fields */
    background-color: #050A30;
    color: #FFBD59;
}

.register-card .card-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

.register-card .btn-primary {
    background: linear-gradient(135deg, #004c4c, #008080);
    border: none;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    display: block;
    width: 100%;
    /* Make the button take full width */
    max-width: 200px;
    /* Set a max width for the button */
    margin: 0 auto;
    /* Center the button horizontally */
}

.login-link {
    color: #FFF2DE;
    /* Set text color to white */
    font-size: 1.1rem;
    /* Increase font size as needed */
    text-decoration: none;
    /* Remove underline from link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.login-link:hover {
    color: #FFBD59;
    /* Change text color on hover */
}

.login-card p {
    text-align: center;
    margin-top: 15px;
}


.register-link {
    color: #FFF2DE;
    /* Set text color to white */
    font-size: 1.1rem;
    /* Increase font size as needed */
    text-decoration: none;
    /* Remove underline from link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.register-link:hover {
    color: #FFBD59;
    /* Change text color on hover */
}

/* Register page styles */
.body.register-page {
    background: url('/static/images/registerlogo1.png') center top/cover fixed no-repeat;
    height: 100vh;
    /* Adjusted viewport height */
    margin: 0;
    display: flex;
    justify-content: flex-end;
    /* Align content to the right */
    align-items: center;
    background-size: cover;
    /* Adjust background size */
    background-position: center left;
    /* Move background slightly to the left */
}

.register-card {
    max-width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 5px 220px 40px;
    transition: transform 0.3s ease;
}

.register-card:hover {
    transform: scale(1.05);
}

.register-card .card-title,
.register-card .form-group,
.register-card .btn-primary,
.register-card p {
    color: white;
    font-weight: 300;
    text-align: center;
}

.register-card .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-card .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align labels and inputs to the start */
    margin-bottom: 15px;
}

.register-card .form-group label {
    margin-bottom: 5px;
    /* Add space between label and input */
    width: 100%;
    /* Ensure the label takes the full width */
}

.register-card .form-control {
    height: 35px;
    /* Adjusted height of form controls */
    font-size: 1.2rem;
    /* Increased font size */
    width: 325px;
    /* Full width input fields */
    background-color: #050A30;
    color: #FFBD59;
}

.register-card .card-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

.register-card .btn-primary {
    background: linear-gradient(135deg, #004c4c, #008080);
    border: none;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    display: block;
    width: 100%;
    /* Make the button take full width */
    max-width: 200px;
    /* Set a max width for the button */
    margin: 0 auto;
    /* Center the button horizontally */
}

.login-link {
    color: #FFF2DE;
    /* Set text color to white */
    font-size: 1.1rem;
    /* Increase font size as needed */
    text-decoration: none;
    /* Remove underline from link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.login-link:hover {
    color: #FFBD59;
    /* Change text color on hover */
}